*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;

}


/* styling for the footer */


#footer {
    background-color: #e0ebeb;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear:both;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "About Product Locations Contact";
    padding-left: 170px;
    justify-content: center;
    padding-top: 50px;
}
.aboutUsFooter{
    outline: solid white;
    border-radius: 20px;
    max-width: fit-content;
    max-height: 40px;
    justify-content: center;
    padding-top: 10px;
    transition: all 0.4s;
    cursor: pointer;
}
.aboutUsFooter:hover{
    transform: scale(1.2);
}



/* styling for locations page */

#grid {
    display: grid;
    grid-template-columns: 1fr 1 frr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "containertop containertop containertop"
    "DublinImagecontainer Cork Galway"
    "Limerick Clare Wexford";
    grid-gap: 10px;
}
.containertop {
    grid-area: containertop;
}

.containertop Img {
    width: 100%;
    height: 600px;
    background-size: conatin;
    
}
.header {
    position: absolute;
    top: 450px;
    left: 40%;
    color: white;
    padding: 10px;
    font-size: large;
}

.overlapwriting {
    position: absolute;
    width: 212.07px;
    height: 346.42px;
    line-height: 2.0;
    color: white;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:larger;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: fit-content;
}

.DublinImagecontainer {
    grid-area: DublinImagecontainer;
    padding-left: 40px;
    width: 350px;
    height: 400px; 
    background-color: orange;
    border: 30px;
    padding: 15px;
    color: white;
    outline: 2px solid black;
    margin-left: 50px;
    position:sticky;
    margin-top: 50px;
    box-shadow: 10px 10px 30px black; 
}

.DublinImagecontainer Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Dublin h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.Dublin p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.Dublin h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}


.Cork {
    grid-area: Cork;
    width: 350px;
    height: 400px; 
    background-color: orange;
    border: 30px;
    padding: 15px;
    color: white;
    outline: 2px solid black;
    margin-left: 50px;
    margin-top: 50px;
    position: sticky;
    box-shadow: 10px 10px 30px black;
}
.Cork Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Cork h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.Cork p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.Cork h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.Galway {
    grid-area: Galway;
    width: 350px;
    height: 400px; 
    background-color: orange;
    border: 30px;
    padding: 15px;
    color: white;
    outline: 2px solid black;
    margin-left: 50px;
    margin-top: 50px;
    position: sticky;
    box-shadow: 10px 10px 30px black;
}

.Galway Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Galway h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.Galway p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.Galway h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.Limerick {
    grid-area: Limerick;
    width: 350px;
    height: 400px; 
    background-color: orange;
    border: 30px;
    padding: 15px;
    color: white;
    outline: 2px solid black;
    margin-left: 50px;
    position: sticky;
    box-shadow: 10px 10px 30px black;
}
.Limerick Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Limerick h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.Limerick p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.Limerick h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.Clare {
    grid-area: Clare;
    width: 350px;
    height: 400px; 
    background-color: orange;
    border: 30px;
    padding: 15px;
    color: white;
    outline: 2px solid black;
    margin-left: 50px;
    position: sticky;
    box-shadow: 10px 10px 30px black;
}
.Clare Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Clare h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.Clare p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.Clare h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.Wexford {
    grid-area: Wexford;
    width: 350px;
    height: 400px; 
    background-color: orange;
    border: 30px;
    padding: 15px;
    color: white;
    outline: 2px solid black;
    margin-left: 50px;
    position: sticky;
    box-shadow: 10px 10px 30px black;
}
.Wexford Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Wexford h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.Wexford p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.Wexford h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

@media screen and (min-width: 736px)
{
    .grid {
        display: grid;
        grid-template-columns: 1fr 1 frr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "containertop containertop containertop"
        "DublinImagecontainer Cork Galway"
        "Limerick Clare Wexford"; 
    }
}

/* styling for contacts page */



.contactsheader {
    
    width: 100%;
    height: 600px;
}

.contactsheader Img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactus{
    position: absolute;
    top: 450px;
    left: 40%;
    color: white;
    padding: 10px;
    font-size: large;
}

.contactswrapper{
    
    margin-left: 50px;
    font-size: larger;
    max-width: 300px;
    float: left;
    
}

.message {
    margin-top: 30%;
    position: absolute;
    width: 400px;
    height: 60px;
    margin-top: 200px;
    padding-left: 700px;
    padding-right: 10px;
}


.input {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 20px;
    outline: none;
}

.message-field{
margin-top: 20px;
height: 150px;
padding-top: 10px;
width: 420px;
border-radius: 20px;

}


.button {
    border-radius: 20px;
    color: #fff;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: green;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.pop-up {
    width: 300px;
    height: 70px;
    border-radius: 20px;
    position: absolute;
    
    /* make sure text will be in center of pop up */
    text-align: center;
    /* ad space in the pop up */
    margin-left: 820px;
    margin-top: 750px;
    visibility: hidden;
    transition: transform 0.5s, top 0.4s;
    border: solid black;
    font: small;
}

.open-PopUp {
    visibility: visible;
    

}

.pop-up button {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    

}

/* styling for the blur */

#blur-section{
    filter: blur(5px); 
}